In [4]:
import pandas as pd
import random
import numpy as np
costs = np.random.rand(100)

states = ["negative", "positive", "neutral"]
sentiment =random.choices(states, k=100)


costs = costs/100

In [5]:
names = [
    "Alice", "Bob", "Charlie", "David", "Emily", "Fiona", "George", "Henry",
    "Isabella", "Jack", "Olivia", "William", "Sophia", "James", "Benjamin", "Ava",
    "Noah", "Mia", "Lucas", "Charlotte", "Elijah", "Harper", "Aiden", "Evelyn",
    "Logan", "Abigail", "Mason", "Amelia", "Ethan", "Isabella", "Alexander", "Elizabeth",
    "Michael", "Sofia", "Daniel", "Evelyn", "Matthew", "Charlotte", "Aiden", "Avery",
    "Joseph", "Mila", "Jackson", "Scarlett", "Anthony", "Eleanor", "William", "Penelope",
    "Andrew", "Violet", "Gabriel", "Sophia", "Benjamin", "Audrey", "David", "Zoey",
    "Harrison", "Luna", "Daniel", "Claire", "Charles", "Eliana", "Christopher", "Riley",
    "Johnathan", "Nova", "James", "Mackenzie", "Owen", "Stella", "Robert", "Evelyn", "Alice",
     "Bob", "Charlie", "David", "Emily", "Fiona", "George", "Henry",
    "Isabella", "Jack", "Olivia", "William", "Sophia", "James", "Benjamin", "Ava",
    "Noah", "Mia", "Lucas", "Charlotte", "Sofia", "Daniel", "Evelyn", "Matthew",
    "Charlotte", "Aiden", "Avery", "Joseph"]

In [6]:
dict = {'name': names, 'sentiment': sentiment, 'cost': costs} 
df = pd.DataFrame(dict)
df.head(5)

      name sentiment      cost
0    Alice  negative  0.001225
1      Bob  positive  0.008737
2  Charlie  positive  0.003755
3    David   neutral  0.009420
4    Emily  positive  0.009777

In [9]:
file_name = 'MarksData.xlsx'

# saving the excel
df.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.